*{
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
}
.home{
    padding-top: 60px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title{
    text-underline-offset: 10px;
    letter-spacing: 3px;
    font-size: 50px;
}
.subtitle{
    text-align: center;
    font-size: 40px;
}
.skills-box{
    float:right;
    border-radius: 10px;
    width: 40%;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
}

.skills-table{
    border-top: rgba(50, 207, 235, 0.884) solid 5px;
    text-align: left;
}

.skills-table th{
    border-right: rgba(50, 207, 235, 0.884) solid 5px;
    font-size: 140%;
}
.skills-table td{
    padding-bottom: 10px;
    font-size: 140%;
}

.about-box{
    float: left;
    width: 40%;
    margin: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 140%;
}
.row{
    margin: 40px;
    margin-left: 150px;
    width: 85%;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 450px;
    position: relative;
  }
.column img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.row:after {
content: "";
display: table;
clear: both;
}
.button{
    display: block;
    width: 30%;
    height: 50px;
    position: absolute;
    bottom: 10%;
    left: 40%;
    background: rgba(50, 207, 235, 0.884);
    color: black;
    padding: 15px;
    margin: auto;
    border: rgb(12, 58, 71) solid 1px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
}
.button:hover{
    background: rgba(37, 163, 185, 0.884);;
}
.text-normal{
    text-align: center;
    font-family: Georgia, serif;
}
.text-header{
    text-align: center;
    font-family: fantasy;
    font-size: 50px;
}
.text-subheader{
    text-align: center;
    font-family: fantasy;
    font-size: 30;
}
.text-about{
    text-align: left;
    float:left;
}
.blue-sphere{
    border: rgb(90, 195, 226) solid 10px;
    border-radius: 50px;
}



